@foreach (var item in Inventories)
{
    <tr>                
        <td>@item.Name</td>
        <td>@item.Quantity</td>
        <td>@item.Price</td>
        <td><a class="btn btn-dark btn-sm"><i class="fa-regular fa-pen-to-square"></i></a></td>
    </tr>
}

@code {

    [Parameter]
    public List<Inventory> Inventories { get; set; } = new List<Inventory>();
}
